/* *{
margin:0;
padding:0;
}
body{
  background-color:#98473E;
}
.heading{
  margin-top:50px;
  text-align: center;
  font-size:50px;
}
.box{
  height:130px;
  width: 130px;
  border-radius:13px;
  border:none;
  background-color: #A37C40;
  font-size: 50px;
  color: antiquewhite;

}
.reset{
  margin-top:10px;
  padding:20px;
  font:50px;
  background-color:#07090F;
  color:white;
  border: none;
  border-radius:8px;

}
.containers{
  height:700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game{
  height:400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width:400px;
  gap:5px;
}
.newgame{
  padding:20px;
  font:50px;
  background-color:#07090F;
  color:white;
  border: none;
  border-radius:8px;
}
.msg-container{
  height:100px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hide{
  display: none;
} */



* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #548687;
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #b0413e;
  background-color: #ffffc7;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#msg {
  color: #ffffc7;
  font-size: 5vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}